/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

/* Declare variables */
:root {
    --dark-elements: hsl(209, 23%, 22%);
    --dark-background: hsl(207, 26%, 17%);
    --dark-text: hsl(200, 15%, 8%);
    --light-input: hsl(0, 0%, 52%);
    --light-background: hsl(0, 0%, 98%);
    --light-elements: hsl(0, 0%, 100%);
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 250ms;
}

html, body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 5000px;
    max-height: 5000px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--dark-background);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

/* header section */
header {
    width: 100%;
    background-color: var(--dark-elements);
}

header .content {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

header .content .title {
    margin: 0.5rem 0;
}

header .content .title h3 {
    font-size: 22px;
    font-weight: 600;
    color: var(--light-elements)
}

header .content .change-theme {
    margin: 0.5rem 0;
}

header .content .change-theme button {
    background-color: var(--dark-elements);
    border: none;
}

header .content .change-theme button span {
    color: var(--light-elements);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

header .content .change-theme button i {
    color: var(--light-elements);
    margin-right: 0.3rem;
    transform: rotateZ(-20deg);
}

/*End header section */

/* Main => filter section */
main {
    width: 100%;
}

main .filter {
    width: 100%;
}

main .filter .content {
    display: flex;
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;
}

main .filter .content .search-field-area {
    width: 35%;
    display: flex;
    background-color: var(--dark-elements);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

main .filter .content .search-field-area button {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

main .filter .content .search-field-area button i {
    color: var(--light-elements);
    font-size: 18px;
}

main .filter .content .search-field-area input {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--light-elements);
    background-color: transparent;
    border: none;
    outline: none;
}

main .filter .content .select-continent-area {
    position: relative;
    width: 20%;
    background-color: var(--dark-elements);
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

main .filter .content .select-continent-area button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main .filter .content .select-continent-area button span {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--light-elements);
}

main .filter .content .select-continent-area button i {
    color: var(--light-elements);
}

main .filter .content .select-continent-area .continent-list {
    display: none;
    position: absolute;
    top: calc(2rem + 23px);
    left: 0;
    width: 100%;
    list-style-type: none;
    background-color: var(--dark-elements);
    border-radius: 8px;
}

main .filter .content .select-continent-area .open {
    display: block;
}

main .filter .content .select-continent-area .continent-list .continent-option {
    color: var(--light-elements);
    font-size: 14px;
    padding: 1rem 1.5rem;
    transition: none;
}

main .filter .content .select-continent-area .continent-list .continent-option:hover {
    background-color: var(--dark-background);
    cursor: pointer;
}

/* Main => end filter section */

/* Main => data section */
main .data {
    width: 100%;
}

main .data .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .data .content .item {
    width: 22.5%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-elements);
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

main .data .content .item .flag {
    width: 100%;
    height: 175px;
}

main .data .content .item .flag img {
    width: 100%;
    height: 100%;
}

main .data .content .item>.name {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

main .data .content .item .name h3 {
    color: var(--light-elements);
    font-size: 20px;
    text-transform: capitalize;
}

main .data .content .item .details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

main .data .content .item .details .detail-field {
    width: 100%;
    margin-bottom: 0.5rem;
}

main .data .item .details .detail-field .name {
    text-transform: capitalize;
    color: var(--light-elements);
    font-size: 16px;
}

main .data .item .details .detail-field .value {
    text-transform: capitalize;
    color: var(--light-input);
    font-size: 14px;
}

/* Main => End data section */

/* ***************************** specify country page styels ***************************** */

main .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main .content .back-area {
    width: 100%;
    margin: 3rem 0;
}

main .content .back-area button {
    border-radius: 4px;
    padding: 0.4rem 1.5rem;
    background-color: var(--dark-elements);
    border: none;
    color: var(--light-input);
    cursor: pointer;
}

main .content .back-area button i {
    color: var(--light-elements);
    margin-right: 0.5rem;
}

main .country-flag {
    width: 35%;
    height: 300px;
}

main .country-flag img {
    width: 100%;
    height: 100%;
}

main .country-detail {
    width: 55%;
}

main .country-detail .country-name {
    width: 100%;
    margin-bottom: 1rem;
}

main .country-detail .country-name h3 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--light-elements);
}

main .country-detail .country-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .country-detail .country-information .field {
    width: 50%;
    margin-bottom: 1rem;
}

main .country-detail .country-information .field .name {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--light-elements);
}

main .country-detail .country-information .field .value {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--light-input);
}

main .borders {
    margin-top: 2rem;
    width: 100%;
}

main .borders span {
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    color: var(--light-elements);
    margin-right: 0.75rem;
}

main .borders .border {
    padding: 0.4rem 1.5rem;
    margin-right: 0.75rem;
    background-color: var(--dark-elements);
    color: var(--light-input);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}